.body {
    background: #FFFBE9;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CCD6A6;
}

.nav h1 {
    display: block;
    text-align: center;
    color: white;
    padding: 0px 75px 0px 25px;
    cursor: pointer;
}

.nav h1:hover:not(.active) {
    color: #F4EAD5;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 35px 16px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.nav li a:hover:not(.active) {
    background-color: #DAE2B6;
}

.nav .active {
    background-color: #DAE2B6;
}