<div class="nav">
    <ul>
        <li>
            <LinkTo @route="index">
                <h1>KanRead</h1>
            </LinkTo>
        </li>
        <li>
            <LinkTo @route="books" class="list-link">Books</LinkTo>
        </li>
    </ul>
</div>
