<div class="list-models">

    <div class="create">
        <h1>Authors</h1>
        <LinkTo @route="newAuthor" class="icon">
            <FaIcon @icon="square-plus" class="icon" @size="2x"/>
        </LinkTo>
    </div>

    <AuthorsTable @authors={{@model}}/>

</div>