<div class="list-models">
    
    <div class="create">
        <h1>Books</h1>
        <LinkTo @route="new" class="icon">
            <FaIcon @icon="square-plus" class="icon" @size="2x"/>
        </LinkTo>
    </div>

    <BooksTable @books={{@model}}/>
</div>