<div class="model-details">
    <table>
        <tr>
            <td><h1>Title:</h1></td>
            <td><h1>{{model.title}}</h1></td>
        </tr>
        <tr>
            <td><h1>Author:</h1></td>
            <td><h1>{{model.authorName}}</h1></td>
        </tr>
        <tr>
            <td><h1>Status:</h1></td>
            <td><h1>{{model.status}}</h1></td>
        </tr>
    </table>
</div>
