<div class="model-form">

    <h1>Update Author</h1>

    <form onsubmit={{action "editAuthor" model.author model.authors model.books}}>
        <div>
            <label for="name">Name:</label>
            {{input type="text" id="name" value=model.author.name}}
        </div>
        
        <button type="submit">Update</button>
    </form>

</div>