<div class="model-form">

    <h1>New Author</h1>

    <form onsubmit={{action "createAuthor"}}>
        <div>
            <label for="name">Name:</label>
            {{input type="text" id="name" value=name}}
        </div>
        
        <button type="submit">Create</button>
    </form>

</div>