<div class="model-form">

    <h1>New Book</h1>

    <form onsubmit={{action "createBook"}}>
        <div>
            <label for="title">Title:</label>
            {{input type="text" id="title" value=title}}
        </div>
        <br>
        <div>
            <label for="authorName">Author:</label>
            <select name="authorName" id="authorName">
                {{#each @model as |author|}}
                    <option value={{author.id}}>{{author.name}}</option>
                {{/each}}
            </select>
        </div>
        
        <button type="submit">Create</button>
    </form>

</div>